body{

    height: 100%;
    width: 100%;
    /*background: rgb(0, 0, 0); */
    /*background: radial-gradient(circle, rgb(0, 0, 0) 0%, rgba(2,0,36,1) 69%, rgba(2,0,36,1) 98%);
   */
    background-image: url("https://images.unsplash.com/photo-1518818419601-72c8673f5852?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: 100% 100%; 
    
}
.card {
    margin: 20px;
    position: relative;
  }
  
  .card::before {
    content: "";
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    background: linear-gradient(100deg, #000000, #00000018,#f78b70f5,  #ff0000);
    opacity: 0;
    z-index: -1;
    transition: all .8s;
  }
  
  .card:hover::before {
    opacity: 1;
    transform: scale(1.1);
    border-radius: 20pt;
  }
  
  .card-header {
    background-color: rgba(255, 0, 0, 0.7);
    color: rgb(0, 0, 0);
  }

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    
}

.begin h1{
    font-size: 75px;
    text-decoration: underline;
    font-weight: bold;
    animation: changeColor 5s infinite;
}
@keyframes changeColor {
    0% { color: #C0C0C0; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; } /* Prata */
    25% { color: #747171; font-family: Georgia, 'Times New Roman', Times, serif; } /* Cinza claro */
    50% { color: #ff2222e8;font-family: Verdana, Geneva, Tahoma, sans-serif; } /* Cinza claro */
    75% { color: #ffaa5b;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;} /* Cinza claro */
    100% { color: #e5e5e59d; font-family:'Times New Roman', Times, serif} /* Cinza claro */
}

.begin h2{
    font-size: 60px;
}

/* MAINCOLOR = Cores principais do site */

.maincolor{
    color: azure;
}

.maincolor h4{
    color: rgb(170, 255, 255);
}

.maincolor h3{
    color: rgb(170, 255, 255);
} 

/* FIM MAINCOLOR */

/* INÍCIO MARGIN */

.margin{
    margin-top: 10vh;

}

/* FIM MARGIN */


/* ÍNICIO ÍCONES */

.icons{
    color:azure;
    transition: all 0.3s linear !important;
    
}

.icons:hover{
    transform: scale(1.5);
    margin-bottom: 10px !important;
    
}


/* FIM ÍCONES */

#dropdownId{
    color: azure;
}

#initial{
    width: 90vw;
    height: 80vh;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* ÍNICIO BOTÃO VOLTAR AO TOPO */

#back-to-top {
    bottom: 14px;
    cursor: pointer;
    height: 40px;
    position: fixed;
    right: 22px;
    width: 40px;
    z-index: 3;
}

#back-to-top::after {
    display: flex;
    justify-content: center;
    padding-left: 1px;
    padding-top: 8px;
}

/* FIM BOTÃO VOLTAR AO TOPO */



.links{
    text-decoration-line: none;
    color: azure;
}

.links:link{
    color: azure;
}
.links:hover{
    color: rgb(211, 211, 235);
    cursor: pointer;
}





