body{

    height: 100%;
    background: rgb(0,212,255);
    background: radial-gradient(circle, rgba(0,212,255,1) 0%, rgba(2,0,36,1) 69%, rgba(2,0,36,1) 98%);
}

.maincolor{
    color: azure;
    justify-content: center;
}

.icons{
    color:azure;
    transition: width 2s, height 2s;
    
}

.icons:hover{
    width: 40px;
    height: 40px;
    margin-bottom: 10px !important;
    
}


#dropdownId{
    color: azure;
}

#initial{
    width: 90vw;
    height: 80vh;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#back-to-top {
    bottom: 14px;
    cursor: pointer;
    height: 40px;
    position: fixed;
    right: 22px;
    width: 40px;
    z-index: 3;
}

#back-to-top::after {
    display: flex;
    justify-content: center;
    padding-left: 1px;
    padding-top: 8px;
}
  
.links{
    text-decoration-line: underline;
    color: azure;
}

.links:link{
    color: azure;
}
.links:hover{
    color: blue;
    cursor: pointer;
}